@font-face {
  font-family: 'Digital-7';
  src: url('/src/assets/images/digital-7.ttf');
}

.font-digital {
  font-family: 'Digital-7';
}

/* Styling for scoreboard design based on NBA shot clock */
.shot-clock-scoreboard {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px 0 20px;
}

.shot-clock {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: xx-large;
  border-style: solid;
  border-color: black;
}

.shot-clock-correct {
  color: green;
}

.shot-clock-incorrect {
  color: red;
}

.shot-clock-counter {
  color: goldenrod;
}

.shot-clock-scoreboard h3, .full-guess-history h3 {
  margin: 0;
  text-align: center;
  font-size: xx-large;
}

.shot-clock p {
  margin: 0;
}

.guess-description {
  max-width: 100%;
  font-size: x-large;
}

/* Page Layout styling */
#root {
  padding: 0;
}

  /* Game Content (LHS) */
.game-player-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.player-guesser {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#five-guesses {
  margin-bottom: 0;
}

#game-mode-buttons {
  margin-bottom: 10px;
}

.banner-image {
  max-height: 15vh;
  width: auto;
  flex-shrink: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-middle {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 1068px;
}
 
#guess-input {
  margin: 10px;
  position: relative;
}

#player-guess {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suggested-teams {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.suggested-team {
  padding: 8px;
  cursor: pointer;
}

.suggested-team:hover {
  background-color: lightsalmon;
}

.suggested-team:active {
  background-color: lightcoral;
}

.guesses {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 20px;
}

.guess {
  border-style: solid;
  border-radius: 50%;
  padding: 0;
  margin: 10px;
  width: 25px;
}

.guess-- {
  display: none;
}

.guess-C {
  background-color: green;
}

.guess-I {
  background-color: red;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 1064px;
}

.player-photo-div {
  height: 230px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.player-photo {
  height: auto;
  width: 100%;
}

.player-stat {
  display: flex;
  width: 100%;
}

.stats {
  margin: 5px 0 0;
}

.stat-name {
  flex-grow: 1;
}

.stat-number {
  display: inline;
  
}

.game-scoring-content {
  width: 40%;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.full-guess-history {
  height: 60%;
  overflow: scroll;
}

.guess-history-table {
  width: 100%;
}

.guess-history-table th {
  border-bottom: 1px solid grey;
}

.table-row-correct {
  background-color: rgba(0, 255, 0, 0.2);
}

.table-row-incorrect {
  background-color: rgba(255, 0, 0, 0.2);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  justify-content: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('generic-court-background.jpg');
  background-size:cover;
  background-position: center;
}

#startscreen {
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 40%;
  align-content: center;
  justify-self: center;
}

#startscreen form {
  display: flex;
  flex-direction: column;
}

#startscreen img {
  max-width: 100%;
  height: auto;
}

#startscreen p {
  padding: 4px;
}

#startscreen button {
  margin: 10px;
  align-content: center;
}

.setting-display {
  display: flex;
  align-items: flex-start;
  padding: 2px 15px 2px 2px
}

.setting-display h3, .setting-display p {
  margin: 0;
}

.display-heading {
  flex-grow: 1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url('mobile-generic-court-background.jpg');
    background-position: center;
  }
}